:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
}

.logo {
  color: #000000;
}

.footer-link .logo {
  color: #ffffff;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  border-color: transparent;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--------------header-----------------*/

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-personal {
  display: flex;
  margin-left: auto;
}

.header-personal-date {
  margin-left: 50px;
}

.header-personal-date:first-child {
  margin-left: 0;
}

.header-personal-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-personal-link:hover,
.header-personal-link:focus {
  color: var(--accent-color);
}

.heder-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*--------------hero-----------------*/

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.hero-btn {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
}

/*--------------specificity-----------------*/

.specificity-list {
  display: flex;
  margin-right: -30px;
}

.specificity-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.specificity-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.specificity-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.specificity-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.specificity-icon {
  width: 65px;
  height: 70px;
}

/*--------------about-----------------*/

.section-about {
  padding-top: 0;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
  text-align: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.about-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.about-wraper {
  position: relative;
}

.about-text {
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-title-color);
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  left: 0;
  bottom: 0;
}

/*--------------team-----------------*/
.section-team {
  background-color: #f5f4fa;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-icon-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.team-icon-item {
  margin-right: 10px;
}

.team-icon-item:last-child {
  margin-right: 0;
}

.team-icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.team-icon-item:last-child {
  margin-right: 0px;
}

/*--------------clients-----------------*/

.clients-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  flex-basis: calc(100% / 6 - 30px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*--------------footer-----------------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: inline-block;
}

.adres-item {
  margin-bottom: 9px;
}

.adres-item:last-child {
  margin-bottom: 0;
}

.adres-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-date {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-link:hover,
.adres-link:focus {
  color: var(--accent-color);
}

.adres-date:hover,
.adres-date:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-right: 93px;
}

.social-title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  align-items: baseline;
}

.footer-adres {
  margin-right: 70px;
}

.social-list {
  display: flex;
}

.social-item {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--third-text-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.mailing-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--third-text-color);
  outline: none;
}

.mailing-mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing-mail:focus,
.mailing-mail:hover {
  border-color: var(--accent-color);
}

.mailing-btn {
  padding-left: 29px;
}

.mailing-picture {
  margin-left: 10px;
  fill: #ffffff;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------portfolio---------------------------------*/

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item {
  margin-right: 8px;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-cart {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-cart-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
}

.portfolio-cart-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cart-link:hover .portfolio-wrap-text,
.portfolio-cart-link:focus .portfolio-wrap-text {
  transform: translateY(0);
}

.portfolio-cart-link:focus,
.portfolio-cart-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.carts {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.carts {
  border-top: 0px;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 23px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------------------modal---------------------------------*/

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) translateY(-500px) translateX(-2500px) rotate(-90deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.close-icon .modal-close:focus .close-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.modal-wrap {
  margin-bottom: 10px;
}

.modal-wrap:nth-child(4) {
  margin-bottom: 20px;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-picture-box {
  position: relative;
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg {
  fill: var(--accent-color);
}

.name-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.comment {
  height: 120px;
  resize: none;
  padding: 16px 12px;
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-check-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  color: var(--second-text-color);
}

.check-box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.ckeck-icon {
  fill: #ffffff;
}

.modal-check-link {
  color: var(--accent-color);
  margin-left: 3px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.modal-check:checked + .modal-check-label .check-box {
  background-color: var(--accent-color);
  border: none;
}
.modal-btn-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
